<!DOCTYPE html>
<html>
  <head>
    <title>FileUploadGems</title>
    <%= render 'layouts/rails_default'%>
  </head>
  <body>
    <%=render 'layouts/header' %>
    <%= render 'layouts/devise_default'%>
    <%= yield %>
  </body>
</html>
